.workoutSlider .swiper-wrapper {
    height: 490px;

    /* background: pink; */
  }
  
  .workoutSlider .swiper-button-prev::after,
  .workoutSlider .swiper-button-next::after {
    content: '';
  }
  
  .workoutSlider .swiper-button-prev,
  .workoutSlider .swiper-button-next {
    top: 96%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
  }
  
  .workoutSlider .swiper-button-prev {
 
    left: 88.4%;
  
    background-image: url('../images/previous.png');
  }
  
  .workoutSlider .swiper-button-next {
    background-image: url('../images/next\ \(1\).png');
    right: 66px;
  }

  @media (max-width: 1300px) {
  .workoutSlider .swiper {
    height: auto;
  }
  .workoutSlider .swiper-wrapper {
    height: 320px;
  }
  .workoutSlider .swiper-button-prev,
  .workoutSlider .swiper-button-next {
    display: block;
  }
}
@media (max-width: 1300px) {
  .workoutSlider .swiper {
    height: auto;
  }
  .workoutSlider .swiper-wrapper {
    height: 320px;
  }
  .workoutSlider .swiper-button-prev,
  .workoutSlider .swiper-button-next {
    display: block;
    
  }
}